{% from "macro.html" import format_value, format_help, write_table with context %}

<!-- Summary -->
<h4 align="center">
  <u><a name=summary>Summary</a></u>{{ format_help("summary", current_task) }}
</h4>

<p align="justify">
  <i>This entry consists of {{ number_of_models }} model(s). A total of {{ number_of_datasets|int }} dataset(s) were used to build this entry.</i>
</p>

{% if Datasets_summary|length > 0 %}
  {{ write_table(Datasets_summary) }} 
{% endif %}
